/* $Id: small.css,v 1.1.2.2 2009/11/02 17:26:35 thushanka Exp $ */
.zpCalendarSmall {
  border-width: 0px !important;
  font-size: 10px !important;
}

.zpCalendarSmall table {
  font-size: 10px !important;
}
