
.zpCalHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 150%;
	font-weight:bold;
	color: #000000;
	padding-top: 1.0ex;
	padding-bottom: 1.0ex;
}

.zpCalSubHeader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 130%;
	font-weight:bold;
	color: #393939;
	padding-top: 1.0ex;
	padding-bottom: 1.0ex;
}

.zpCalPoint {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	line-height: 14px;
	padding-top: 0.6ex;
	padding-bottom: 0.6ex;
	/*TODO check this out later
	BACKGROUND: url(../images/box_blue.gif) no-repeat left top; left: 0px; TOP: 0px; 
	*/
}

.zpCalPointBullet {
	vertical-align:top;
	padding-right:1ex; 
}
.zpCalPrice, .zpCalPriceTopHeader, .zpCalPriceSideHeader{
	border: 1px solid #FFFFFF;
	font-size: 90%;
	border-collapse:collapse;
	text-align:left;
	vertical-align:top;
}

.zpCalPrice{
  background-color: #EFEBEF;
}

.zpCalPriceTopHeader{
	font-weight:bold;
  background-color: #EFEBEF;
}

.zpCalPriceSideHeader{
	font-weight:bold;
  background-color: #BDD4F3;
}

.zpCalContact {
	padding:1em; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-weight:bold;
	border: 1px dotted #003066;
	width:300px;
}

.zpCalDemo {
	padding:1em; 
	font-family: Arial, Helvetica, sans-serif;
	border: 1px dotted #003066;
}

.zpCalDemoText {
	padding:1em; 
	font-family: Arial, Helvetica, sans-serif;
}

.zpCalCalIcon {
	margin-top:0px;
	cursor:pointer;
	vertical-align:bottom;
	padding-right:0px;
	padding-left:2px;
	border:solid 2px;
}

.zpCalExample {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003066;
	background-color: white;
}
.zpCalExample:hover {
	font-weight: bold;
	color: #003066;
	background-color: white;
}


.zpCalSpecialDay { 
	background-color: #cccccc;
}

.zpCalDayInfo { 
	background-color: yellow;
	font-size: 80%;
}

.zpCalInfo { 
	padding-left: 2ex;
	padding-right: 2ex;
	padding-top: 1.0ex;
	padding-bottom: 1.0ex;
	margin-top: 1.0ex;
	margin-bottom: 1.0ex;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	background-color: #DAE5EF;
	border: 1px solid ;
}

/*
 * Used in Zapatec generated forms
 */
.errormsg { 
	text-align:left;
	vertical-align:top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: red;
	line-height: 14px;
}

.zpCalBuyDesc { 
	text-align:left;
	vertical-align:top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	line-height: 14px;
}

.zpCalBuyDescData { 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	line-height: 14px;
	font-weight:bold;
}
.zpCalHelp { 
	font-size: 160%;
	margin-left:0.5em;
	margin-right:1em;
	font-weight:bold;
	color: #003066;
}

pre.zpCode {
	padding-right: 2ex;
	margin-right: 2ex;
  background-color: #EFEBEF;
	border: 1px solid #FFFFFF;
	width: 80%;
}
