@CHARSET "ISO-8859-1";
.hit{
	background-image: url("../../images/accordion/dot.gif");
	width: 20px;
	background-repeat: no-repeat;
}.nhit{
	background-image: url("../../images/accordion/dot1.gif");
	width: 20px;
	background-repeat: no-repeat;
	font-family:Trebuchet MS;
	font-size:10px;
	cursor: hand;
}