/*Buttons*/
input.buttonNormal {
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size:13px;
  color: #000000;
  background-color: #e4e4f5;
  background-image: url('../../images/icon/normal.gif');
  border: medium none;
  cursor: hand;
  width:90px;
  height:22px;
}

input.dot3buttonNormal {
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size:13px;
  color: #000000;
  background-color: #e4e4f5;
  background-image: url('../../images/icon/dot3.gif');
  border: medium none;
  cursor: hand;
  width:26px;
  height:22px;
}

input.buttonNormal#Save {
  background-image: url('../../images/icon/save.gif');
  padding-right:20px
}

input.buttonNormal#Check {
  background-image: url('../../images/icon/check.gif');
  padding-right:20px
}

input.buttonNormal#CheckD {
  background-image: url('../../images/icon/check_d.gif');
  padding-right:20px
}

input.buttonNormal#Clear {
  background-image: url('../../images/icon/clear.gif');
  padding-right:20px
}

input.buttonNormal#Search {
  background-image: url('../../images/icon/search.gif');
  padding-right:20px
}

input.buttonNormal#Print {
  background-image: url('../../images/icon/print.gif');
  padding-right:20px
}

input.buttonNormal#ToExcel {
  background-image: url('../../images/icon/printExcel.gif');
  padding-right:20px
}

input.buttonNormal#Cancel {
  background-image: url('../../images/icon/cancel.gif');
  padding-right:20px
}

/*Content*/
BODY {
	MARGIN: 0px;
	FONT-SIZE: 12px;
	FONT-FAMILY: Trebuchet MS ;
	
}

TD {
	FONT-SIZE: 13px;
	FONT-FAMILY: Trebuchet MS;
}

TH {
	FONT-SIZE: 12px;
	FONT-FAMILY: Trebuchet MS;
}

INPUT{
	FONT-SIZE: 13px;
	FONT-FAMILY: Trebuchet MS;
}

TEXTAREA{
	FONT-SIZE: 12px;
	FONT-FAMILY: Trebuchet MS;
}

SELECT{
	FONT-SIZE: 13px; 
	FONT-FAMILY: Trebuchet MS;
}

legend{
	color:#0066CC;
}

/*Other*/
div.validate{
	background-position:top;
	background-color:#eeeeee;
	padding: 0px 0px 0px 0px; 
	color: red;
	position: absolute ;
	font-family: Trebuchet MS;
	font-size:11px;
}
	
.browserBorder {
	border-top: #91a7b4 1px solid;
	border-right: #91a7b4 1px solid;
    border-left: #91a7b4 1px solid;
    border-bottom: #91a7b4 1px solid;
    background-color:#eef8f8;
}