body {
	margin:0; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px;
	background-color: #c8c8c8;
}.header {
	width:177px;  
	padding:8px; 
	padding-left:20px;
	left:30px;
	font-size:11px;
	font-family:Arial;
	font-weight:600;
	color:#fff;
	margin-top:0px; 
	cursor:pointer; 
	background:url(../../images/accordion/1header.gif);
	border-right:2px solid #7a7a76;
}.header:hover {
	background:url(../../images/accordion/header_over1.gif);
	border-bottom:2px solid #7a7a76;
	border-left:2px solid #7a7a76;
}.content {
	overflow:hidden;
	font-weight:100;
	font-size:11px;
	cursor:pointer; 
}.cont {
	overflow:hidden;
	font-weight:100;
}.text {
	width:174.5px;  
	border-top:none; 
	padding:15px;
	background-color:#f0f0f0;
	border-right:2px solid #7a7a76;
	font-size:12px;
}