@CHARSET "ISO-8859-1";
.def {
	font-family:Tahoma;
	font-size:12px;color:#000000;
	background-color:#ece9d8;
	background-image:url(../../images/tab/tabd.gif);
	background-repeat:no-repeat;
	width:100;
	height:20;
	TEXT-ALIGN: center;
	BORDER-BOTTOM: #91a7b4 1px solid;
	CURSOR: pointer;
	BORDER-RIGHT-STYLE: none ;
}.hint{
	font-family:Tahoma;
	font-size:12px;
	color:#000000;
	background-color:#ece9d8;
	background-image:url(../../images/tab/tabc.gif);
	background-repeat:no-repeat;
	width:100;height:20;
	TEXT-ALIGN: center;
	BORDER-BOTTOM-STYLE: none ;
	cursor: pointer;
}.hint2{
	font-family:Tahoma;
	font-size:12px;
	color:#000000;
	background-color:#ece9d8;
	background-image:url(../../images/tab/tabc.gif);
	background-repeat:no-repeat;
	width:100;height:20;
	TEXT-ALIGN: center;
	BORDER-BOTTOM: #91a7b4 1px solid;
	cursor: pointer;
}