body {
	margin:0; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px;
}
/*#slider {width:459px}*/
.header {
	width:177px;  
	padding:8px; 
	padding-left:20px;
	left:30px;
	font-family:Arial;
	font-weight:600;
	color:#525a52;
	margin-top:0px; 
	cursor:pointer; 
	background:url(../images/accordion/header1.png);
	border-right:2px solid #a5cfcd;
}
.header:hover {
	background:url(../images/accordion/header_over1.png);
	border-bottom:2px solid #a5cfcd;
	border-left:2px solid #a5cfcd;
}
.content {
	overflow:hidden;
	font-weight:100;
}

.cont {
	overflow:hidden;
	font-weight:100;
}

.text {
	width:171px;  
	border-top:none; 
	padding:15px;
	background-color:#e2f7e4;
	border-right:6px solid #e2f7e4;
}

.fieldsetTd{
	padding-left:10px;
	
}

fieldset{
	width:100%;
	background-color:#eafdec;
	border:1px solid #d7edec;
	font: 12px Verdana;
	color:#525a52;
}

legend{
	font: 12px Verdana;
	font-weight:600;
	color:#525a52;
}

input{
	border:1px solid #a5cfcd;
	background-color:#f4fdf5;
	font:12px Verdana;
}

textarea{
	border:1px solid #a5cfcd;
	background-color:#f4fdf5;
	font:12px Verdana;
}

input.buttonEse{
  background-image: url('../images/button/submit.png');
  border: none;
  cursor:pointer;
  width:90px;
  height:22px;
  padding-right:20px

}
input.buttonEse#submit{
  background-image: url('../images/button/submit.png');

}

input.buttonEse#submitD {
  background-image: url('../images/button/submitD.png');
  cursor:default;
}

input.buttonEse#clear {
  background-image: url('../images/button/cancel.png');
}

input.buttonEse#clearD {
  background-image: url('../images/button/cancelD.png');
  cursor:default;
}