body {
	margin:0; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px;
	background-color: #edffee;
}.header {
	width:177px;  
	padding:8px; 
	padding-left:20px;
	left:30px;
	font-size:11px;
	font-family:Arial;
	font-weight:600;
	color:#525a52;
	margin-top:0px; 
	cursor:pointer; 
	background:url(../images/accordion/header1.png);
	border-right:2px solid #a5cfcd;
}.header:hover {
	background:url(../images/accordion/header_over1.png);
	border-bottom:2px solid #a5cfcd;
	border-left:2px solid #a5cfcd;
}.content {
	overflow:hidden;
	font-weight:100;
	font-size:11px;
}.cont {
	overflow:hidden;
	font-weight:100;
}.text {
	width:171px;  
	border-top:none; 
	padding:15px;
	background-color:#e2f7e4;
	border-right:6px solid #e2f7e4;
	font-size:12px;
}